/* Navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #000000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.leftside img {
  max-width: 100px;
  height: auto;
}

.right-side {
  display: flex;
  gap: 10px;
  padding: 10px 100px;
  align-items: center;
}

.right-side a {
  text-decoration: none;
  color: #fff8f8;
  font-weight: bold;
  font-size: 16px;
  display: flex;
}

/* Optional: Add hover effect to links */
.right-side a:hover {
  color: #ff6347;
}

/* ReorderIcon styles */
.right-side .reorder-icon {
  display: none;
  color: #fff8f8;
  cursor: pointer;
}

/* Media query for small screens */
@media only screen and (max-width: 600px) {
  .right-side a {
    display: none;
  }

  .right-side .reorder-icon {
    display: flex;
  }

  .navbar.open-links .right-side a,
  .navbar.open-links .right-side .reorder-icon {
    display: flex;
  }
}
